.light {
  /* background: #ddd; */
  background: linear-gradient(
    152deg,
    rgba(240, 238, 240, 1) 26%,
    rgba(250, 250, 250, 1) 50%
  );
  transition: all 0.5s ease-in-out;
}
.dark {
  /* background: #000; */
  background: linear-gradient(152deg, #000000 26%, #222222 50%);
  transition: all 0.5s ease-in-out;
}
